# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/


# Build results
JuleBeer/[Dd]ebug/
JuleBeer/[Dd]ebugPublic/
JuleBeer/[Rr]elease/
JuleBeer/[Rr]eleases/
JuleBeer/x64/
JuleBeer/x86/
JuleBeer/build/
JuleBeer/bld/
JuleBeer/[Bb]in/
JuleBeer/[Oo]bj/
JuleBeer/msbuild.log
JuleBeer/msbuild.err
JuleBeer/msbuild.wrn
JuleBeer/.vs/

# Private Appsettings
*/appsettings.*.json

leyndo.txt

